<!-- {% extends 'profile_base.html' %}
{% load static %}
{% block rightcontent %}
<div class="container">
    <div class="card mt-5">
        <h5 class="card-header"> My Details </h5>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>User ID:</th>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr>
                                <th>Username:</th>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <th>First name:</th>
                                <td>{{user.first_name}}</td>
                            </tr>
                            <tr>
                                <th>Second name:</th>
                                <td>{{user.second_name}}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <th>Role:</th>
                                <td>{{user.role}}</td>
                            </tr>
                            <tr>
                                <th>LinkeIn:</th>
                                <td>{{user.linkedIn}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
</div>
{% endblock rightcontent %} -->