{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>About us</title>
{% endblock %}

{% block body %}

<!-- <section>
    <article>
        <h2>Our bakers</h1>
            <p>Martha Clain</p>
            <img height="250px" width="400px" src="{% static 'assets/bakers/femalebaker.jfif'%}" alt="female baker">
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum voluptatum unde ipsam debitis? Consequatur nam doloremque tenetur, quod, facere recusandae quasi minima ducimus in id numquam quo omnis praesentium!</li>

    </article>
</section> -->




<fieldset>
    <legend>Our bakers</legend>
    <div>
        <ul>
            <p>Martha Clain</p>
            <img height="250px" width="400px" src="{% static 'assets/bakers/femalebaker.jfif'%}" alt="female baker">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum voluptatum unde ipsam debitis? Consequatur nam doloremque tenetur, quod, facere recusandae quasi minima ducimus in id numquam quo omnis praesentium!</li>
        </ul>
    </div>
</fieldset>
<fieldset>
    <div>
        <ul>
            <p>Nicolas Trout</p>
            <img height="250px" width="400px" src="{% static 'assets/bakers/malebaker.jpg'%}" alt="male baker">
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum voluptatum unde ipsam debitis? Consequatur nam doloremque tenetur, quod, facere recusandae quasi minima ducimus in id numquam quo omnis praesentium!</li>
        </ul>
    </div>
</fieldset>

{% endblock %}